.main-content {
  padding-top: 1rem;
  padding-left: 20rem;
}
.navbar {
  background-color: #ccc;
  height: 3rem;
  width: 100%;
}
.navbar ul {
  display: flex;
  padding-top: 1rem;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

li {
  list-style-type: none;
}

.side-menu {
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #ccc;
  transition: left 0.3s ease;
}

.menu-items {
  list-style-type: none;
}

.menu-items li {
  padding: 15px;
  margin-bottom: 10px !important;
  color: white;
  cursor: pointer;
}

.menu-items li:hover {
  background-color: #555;
}
i {
  margin-left: 12px;
}
.humburger-style {
  cursor: pointer;
}
.mr-10{
  margin-right: 10px;
}
.mt-10{
  margin-top: 10px;
}
.m-a-20{
  margin: 20px;
}